body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22vh 0.5vh 7vh minmax(60vh, auto) 5vh;

  grid-template-areas: "A" "B" "C" "D" "E" ;
}

.img{
    grid-area: A ;
    background-image: url(img/Skärmbild\ 2025-02-07\ 135328.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}
.text-style{ 
    grid-area: A;
    text-align: center;
    font-family: 'Poppins', sans-serif, 'Arial';
    margin-top: 40px;
    font-size: 27px;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
}

nav-strek{
    background-color: blue;
}
nav{
    grid-area: C;
    background-color: rgb(73, 73, 73);
}
nav-nav{
    grid-area: C;
    font-family: 'Poppins', sans-serif, 'Arial';
    text-align: center;
    word-spacing: 10px;
    justify-content: center;
    margin: 8px;
}
.nav-text{
    color: white;
    font-size: 12px;
    
}
.ÖnskeLista{
color: black;
background-color: rgb(50, 50, 236);
padding: 4px;
border-radius: 10px;
}
.KundVagn{
    color: black;
    background-color: rgb(73, 233, 49);
    padding: 4px;
    border-radius: 10px;
}